* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html {
	font-size : 62.5%;
	width: 100%;
	
}

body {
	max-width: 80%;
	margin: auto;
	height: auto;
	border: 2px solid;
}

img {
	width: 100%;
	height: auto;
   /* display: block;
	margin: auto;*/
}



ul {
	padding:0;
	margin:0;
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
	border: 2px solid;
	
}

ul li {
	list-style: none;
	text-align: center;
	width: 100%;
	margin: auto;
	border: 2px solid;
	
}

ul li a {
	text-decoration: none;
}

header h1 {
	
	margin: 50px auto;
	text-align: center;
	border: 2px solid;
}


#sobremi,
#portfolio {
	display:flex;
	justify-content: space-between;
}



.experiencia a,
.trabajos a{
	float: right;
}

#contacto {
	text-align: center;
}








/*medida celular bootstrap*/
@media only screen and (min-width: 320px){
	body{background-color: green;}
	.experiencia {
		width: 100%;
	}
	.trabajos {
		width: 100%;
	}
}


/*medida tablet bootstrap*/
@media only screen and (min-width: 576px) {
	body{background-color: orange;}
	.experiencia {
		width: 50%:
	}
	.trabajos {
		width: 100%;
	}

}

@media only screen and (min-width: 859px) {
	body{background-color: maroon;}
	.experiencia {
		width: 50%;
	}
	.trabajos {
		width: 25%;
	}

	
}

	
	


